.grid {
  width: 100%;
}

.grid-row {
  width: 100%;
  display: flex;
  padding: 5px 0;
  border-bottom: 1px solid var(--row-border);
}

.grid-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.grid-cell:first-child {
  width: 10%;
}

.grid-cell:last-child {
  width: 20%;
  justify-content: flex-end;
}

.grid-cell:last-child .fa-trash {
  margin-right: 0;
}

.grid-cell {
  flex: 1;
  font-size: 0.8rem;
}

.grid-row.meta {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--column-title);
}

.grid-panel {
  background: #fff;
  padding: 15px;
  width: 100%;
}

.fontawesome {
  font-size: 1rem;
  color: var(--btn-tertiary);
  padding: 8px;
  border: 1px solid var(--btn-tertiary);
  border-radius: 2px;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-hidden {
  display: flex;
  background: none;
  border: none;
}

.noresults {
  text-align: center;
  padding: 20px;
}

.add-transaction {
  display: flex;
  padding: 10px 0;
  font-size: 0.8em;
  color: #898989;
  width: 100%;
}

.grid-2-columns {
  width: 50%;
}

.grid-2-columns:nth-of-type(2) {
  display: flex;
  flex-direction: row-reverse;
}
