#secondary-nav {
    position: relative;
    margin-left: 20px;
  }
  
  #secondary-nav ul {
    position: fixed;
    flex-direction: column;
    text-align: right;
    transition: 0.3s;
    z-index: 1;
    background: #fff;
    right: 50px;
    display: none;
    margin: 15px 0 0 0;
    transition: all 0.3s ease-in-out;
  }
  
  #secondary-nav ul.active {
    display: block;
  }
  
 #secondary-nav ul .nav-item {
    padding: 10px 25px 10px 45px;
    border: 1px solid #dbd9d9;
  }
  
  #secondary-nav ul .nav-item:first-of-type {
    border-bottom: none;
  }
  
  #secondary-nav ul .nav-item:hover {
    background: #fff;
  }

  #secondary-nav ul a {
    color: #000;
  }
  
  #secondary-nav .hamburger {
    flex-direction: column;
    cursor: pointer;
    padding: 0;
    border-bottom: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #000;
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  form.logout {
    margin: 0;
    padding: 0;
    display: block;
  }

  .btn.logout {
    background: initial;
    border: initial;
    padding: initial;
    color: #303030;
    font-size: 1em;
    cursor: pointer;
    font-family: inherit;
  }