 #primary-nav ul{
  border-top: 1px solid var(--bright-gray);
  border-bottom: 1px solid var(--bright-gray);
  padding: 30px 0px;
 }
 
 #primary-nav ul .nav-item {
    position: relative;
    list-style: none;
    padding: 15px 40px;
    display: flex;
    align-items: center;
  }
  
  #primary-nav ul .nav-item span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
  }
  
  #primary-nav ul .nav-item span.active {
    background: var(--active-link-color);
  }