@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  /* backgrounds */
  --bg-color: #fff;
  --bg-container: #fff;
  --bg-btn-primary: #fff;
  --bg-btn-secondary: #fff;
  /* borders */
  --border-btn-primary: #0d0d0d;
  --border-btn-primary: #676767;
  --form-control-border: #eeecf1;
  --form-control-border-focus: #949494;
  --row-border: #eeecf1;
  --form-container-border: #949494;
  /* fonts */
  --font-primary: "Raleway", sans-serif;
  --btn-tertiary: #aeaeae;
  --btn-hidden: #aeaeae;
  /* font color */
  --text-base-color: #0d0d0d;
  --color-btn-primary: #0d0d0d;
  --color-btn-secondary: #676767;
  --primary-link-color: #000;
  --active-link-color: #000;

  --column-title: #aeaeae;

  --shadow: 1px 3px 5px #dbd9d9;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-primary);
  font-size: 18px;
  height: 100vh;
  display: flex;
  position: relative;
}

a {
  text-decoration: none;
  text-transform: none;
  font-family: var(--font-primary);
}

a:visited {
  color: var(--primary-link-color);
}

a:hover {
  color: var(--primary-link-color);
}

a.primary {
  color: var(--primary-link-color);
  font-weight: bolder;
}

a.primary:hover {
  color: var(--primary-link-color);
  text-decoration: underline;
}

a.primary.active {
  color: var(--active-link-color);
}

a.secondary {
  color: var(--secondary-link-color);
}

a.secondary:hover {
  color: var(--text-base-color);
}

a.secondary.active {
  color: var(--active-secondary-link-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
