@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --bg-color: #ece8e654;
  --bg-container: white;
  --btn-primary: #c9ab3a;
  --btn-secondary: #f1de7d;
  --btn-tertiary: #d5d5d3;

  --font-primary: "Raleway", sans-serif;
  --text-base-color: #24271b;
  --primary-link-color: #c9ab3a;
  --active-link-color: #f1de7d;
  --secondary-link-color: #d6cfcd;
  --active-secondary-link-color: red;
  --hover-link-color: #759cc9;
  --column-title: #aeaeae;

  --shadow: 1px 3px 5px #dbd9d9;
  --form-control-border: #eeecf1;
  --form-control-border-focus: #949494;
  --row-border: #eeecf1;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-primary);
  font-size: 18px;
  height: 100vh;
  display: flex;
  position: relative;
}

a {
  text-decoration: none;
  text-transform: none;
}

a.primary {
  color: var(--primary-link-color);
}

a.primary:hover {
  color: var(--primary-link-color);
  text-decoration: underline;
}

a.primary.active {
  color: var(--active-link-color);
}

a.secondary {
  color: var(--secondary-link-color);
}

a.secondary:hover {
  color: var(--text-base-color);
}

a.secondary.active {
  color: var(--active-secondary-link-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
